.flashMessage {
    z-index: 2;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 12rem;
    padding-right: 12rem;
    --tw-bg-opacity: 1;
    background-color: var(--forest-green-crayola);
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 20%;
}

.flashMessage p {
    width: 100%;
    margin: 0;
}